<!DOCTYPE html>
<head>
    <title>Yu Hua</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Yu Hua</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'quote' %}">Random Quote</a></li>
                <li><a href="{% url 'show_all' %}">All Quotes</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>
    </div>
</body>
</html>