
<html>
    <head>
        <title>
            Yu Hua
        </title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        
        <h1> Yu Hua</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'quote' %}">Random Quote</a></li>
                <li><a href="{% url 'show_all' %}">All Quotes</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
        <img src={{images_0}} alt="Italian Trulli">
        <p>
            {{quotes_0}}
        </p>

        <img src={{images_1}} alt="Italian Trulli">
        <p>
            {{quotes_1}}
        </p>

        <img src={{images_2}} alt="Italian Trulli">
        <p>
            {{quotes_2}}
        </p>
    </body>
</html>