{% load static %}
<html>
    <head>
        <title>Iyu</title>
        <link rel="stylesheet" href="{% static 'styles5.css' %}">
    </head>

    <body>
        <nav class="nav-bar">

            {% if request.user.is_authenticated %}
            <p>
            {{request.user}} is logged in
            </p>
            <li><a href="{% url 'item_list' %}">Home</a></li>
            <li><a href="{% url 'project_profile' request.user.project_profile.pk %}">My Profile</a></li>
            <li><a href="{% url 'wishlist' %}">My Wishlist</a></li>
            <li><a href="{% url 'new_item' %}">Post Item</a></li>
            <li><a href="{% url 'transaction_history' %}">My transaction</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST" class="logout-button">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <p>Not logged in</p>
            {% endif %}
        </nav>
    {% block content %}
    <!-- fill in this section with specific page detail -->
    {% endblock %}
    </body>
</html>