
{% extends 'blog/base.html' %}

{% block content %}
<h1>Show all Articles</h1>

<main class = "grid-container">
    <article>
        <img src="{{article.image_file.url}}" alt="{{article.image_url}}">
    <div>
        <h2>{{article.title}}</h2>
        <h3>by {{article.author}} at {{article.published}}</h3>
        <p>
            {{article.text}}
        </p> 
        <h4>
            <a href="{% url 'create_comment' article.pk %}">Create a Comment</a>
        </h4>
    </div>
</article>

<div>
    <h2>Comments</h2>
    <!-- {{article.get_comments}} -->
    {% for c in article.get_comments %}
    <div>
        <strong> by {{c.author}} at {{c.published}} </strong>
        <p>
            {{c.text}}
        </p>
    </div>
    {% endfor %}
</div>
</main>
{% endblock %}