{% load static %}
<html>
    <head>
        <title>Our Mini FB</title>
        <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'create_profile' %}">Create A Profile</a></li>
                <li><a href="{% url 'show_all_profiles' %}">Show All</a></li>
                {% if request.user.is_authenticated %}
                <p>
                {{request.user}} is logged in
                </p>
                <li><a href="{% url 'profile' request.user.profile.pk %}">My Profile</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="POST" class="logout-button">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <p>Not logged in</p>
                {% endif %}
        </ul>
        </nav>
        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

    </body>
</html>