{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="suggestion-grid">
<h1>People {{ profile.first_name }} {{ profile.last_name }} may know:</h1>

{% for friend in profile.get_friend_suggestions %}
    <div class="suggestion-card">
        <a href="{% url 'profile' friend.pk %}">
            <img src="{{ friend.image_url }}" alt="{{ friend.image_url }}" class="suggestion-image">
            <div class="suggestion-info">
                {{ friend.first_name }} {{ friend.last_name }}
            </div>
        </a>
        <form action="{% url 'add_friend' friend.pk %}" method="post" class="add-friend">
            {% csrf_token %}
            <button type="submit">Add Friend</button>
        </form>
    </div>
{% empty %}
    <p>No friend suggestions available.</p>
{% endfor %}
</div>
<form action="{% url 'profile' profile.pk %}" class="back-button">
    <input type="submit" name="Back to Profile" value="Back to Profile"></a>
</form>
{% endblock %}
