{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Detail</h1>

<main class = "grid-container">
    <article class="featured">
        <img src="{{profile.image_url}}" alt="{{profile.image_url}}">
    <div>
        <h2>{{profile.first_name}}</h2>
        <h2>{{profile.last_name}}</h2>
        <h2>{{profile.email}}</h2>
        <h2>{{profile.city}}</h2>
    </div>
</article>
<div>
    <h4>
        <a href="{% url 'create_status' profile.pk %}">Create status</a>
    </h4>
    <h4>
        <a href="{% url 'update_profile' profile.pk %}">Update profile</a>
    </h4>
</div>
<div>
    <h2>Status Message</h2>
    {% for m in profile.get_status_messages %}
    <div>
        <strong>by {{m.timestamp}}</strong>
        <p>
            {{m.message}}
            {% for img in m.get_images %}
            <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'> 
        {% endfor %}
        </p>
        <form action="{% url 'delete_status' m.pk %}">
            <input type="submit" name="Delete" value="Delete">
        </form>
    </div>
    {% endfor %}
</div>
</main>
{% endblock %}