{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Detail</h1>

<main class = "grid-container">
    <section class="profile-section">
        <img src="{{profile.image_url}}" alt="{{profile.image_url}}">
        <h2>{{profile.first_name}}</h2>
        <h3>{{profile.last_name}}</h3>
        <h3>{{profile.email}}</h3>
        <h3>{{profile.city}}</h3>
    </section>


    {% if request.user == profile.user %}
    <section class = "profile-modify">
        <h4>
            <a href="{% url 'create_status' %}">Create status</a>
        </h4>
        <h4>
            <a href="{% url 'update_profile'%}">Update profile</a>
        </h4>
        <h4>
            <a href="{% url 'news_feed'%}">News Feed</a>
        </h4>
    </section>
    {% endif %}


    <section class="friends-section">
        <h2>{{ profile.first_name }}'s Friends</h2>
        {% if profile.get_friends %}
            {% for friend in profile.get_friends %}
            <div class="friend-card">
                <a href="{% url 'profile' friend.pk %}">
                <img src="{{ friend.image_url }}" alt="{{ friend.image_url }}" class="friend-image">
                <div class="friend-info">
                    <a href="{% url 'profile' friend.pk %}">
                        {{ friend.first_name }} {{ friend.last_name }}
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>This user has no friends yet.</p>
        {% endif %}
        {% if request.user == profile.user %}
        <div class = "suggest-button">
            <h4>
                <a href="{% url 'friends_suggestion' %}">Friend Suggestion</a>
            </h4>
        </div>
        {% endif %}
    </section>

    <section class="status-section">
        <h2>Status Messages</h2>
        {% for m in profile.get_status_messages %}
        <div class="status-message">
            <div class="status-author">
                <img src="{{profile.image_url}}" alt="Profile image" class="profile-image">
                <strong>{{profile.first_name}} {{profile.last_name}}</strong>
            </div>
            <p>{{m.message}}</p>
            <p><small>Posted on {{m.timestamp}}</small></p>
            {% for img in m.get_images %}
            <img src="{{ img.image_file.url }}" alt="Status image" class="status-image">
            {% endfor %}
        {% if request.user == profile.user %}
        <form action="{% url 'update_status' m.pk %}" class="update-button">
            <input type="submit" name="Update" value="Update">
        </form>
        <form action="{% url 'delete_status' m.pk %}" class="delete-button">
            <input type="submit" name="Delete" value="Delete">
        </form>
        {% endif %}
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}